.menu {
  padding: 1rem 5rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  box-shadow: #0000001a 0px 6px 9px -3px;
  font-size: 16px;
  align-items: center;

  &__mobile {
    display: none;
  }
  &__logo {
    display: flex;
    align-items: center;
    img {
      border-radius: 50%;
      height: 50px;
      width: 50px;
      margin: 0px 15px 0px 0px;
    }
  }
  &__options {
    display: block;
    display: inline;
    .option {
      padding: 1rem;
      display: inline;
    }
    ul,
    li {
      list-style: none;
    }
  }
}

@media screen and (max-width: 800px) {
  .menu {
    padding: 1rem 2rem;
    flex-wrap: wrap;

    &__logo {
      span {
        display: none;
      }
    }
    &__mobile {
      display: block;
      font-size: 20px;
    }
    &__options {
      display: none;
    }
  }
  .active {
    display: block !important;
    width: 100%;
    padding-top: 10px;
  }
}
